body {
  height: 640px;
  background: -moz-linear-gradient(top,#069dd5,#ffffff);/*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#069dd5), to(#ffffff));/*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#069dd5), to(#ffffff));      /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #069dd5, #ffffff);   /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #069dd5, #ffffff);  /*Opera 11.10+*/

}
#head {
  width: 100%;
  height: 100px;
  background: url(logo.png) center no-repeat;
}
